.new-contest-block {
    overflow: hidden;
    text-align: center;
    &__heading2 {
        font-size: 1.429em;
        color: $main-color;
        font-weight: 600;
        margin: 0;
    }
    &__links-wrapper {
        @extend .flex-align-items-center;
    }
    &__button {
        @extend .link;
        display: block;
        width: 100px;
        border-radius: 5px;
        background-color: $button-color;
        box-shadow: 0px 3px 0px 0px rgba(223, 196, 10, 1);
        text-transform: uppercase;
        color: $main-color;
        margin: 0 auto;
    }
    &__button:hover {
        background-color: #ffe534;
    }
    &__button:active {
        background-color: rgb(255, 229, 52);
        box-shadow: 0px -2px 0px 0px rgba(223, 196, 10, 1);
    }
    &__learn-more-link {
        @extend .link;
    }
}

@media screen and (min-width: 320px) {
    .new-contest-block {
        width: 90%;
        margin: 50px auto 100px;
        &__road-image {
            width: 90%;
            height: auto;
            margin: 0 auto 20px;
        }
        &__text {
            margin: 25px auto;
        }
        &__links-wrapper {
            overflow: hidden;
            height: 70px;
        }
        &__button {
            width: 100%;
            ;
            height: 60px;
            line-height: 60px;
            font-size: 0.9em;
        }
        &__learn-more-link {
            display: none;
        }
    }
}

@media screen and (min-width: 400px) {
    .new-contest-block {
        &__button {
            width: 370px;
        }
    }
}

@media screen and (min-width: 768px) {
    .new-contest-block {
        width: 60%;
        margin-top: 40px;
        &__road-image {
            width: 380px;
        }
        &__links-wrapper {
            height: 60px;
        }
        &__button {
            width: 270px;
            height: 50px;
            line-height: 50px;
            font-size: 1.143em;
        }
    }
}

@media screen and (min-width: 1024px) {
    .new-contest-block {
        width: 400px;
        &__road-image {
            width: 200px;
        }
        &__text {
            margin: 20px auto;
        }
        &__button {
            float: left;
        }
        &__learn-more-link {
            display: block;
            float: right;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}