.map {
    height: 100%;
    width: 100%;
    &__iframe {
        height: 100%;
        float: right;
        @extend .transition;
    }
    &__button {
        position: absolute;
        @extend .transition;
        @extend .flex-align-items-center;
        background-color: $button-color;
        box-shadow: 0px 3px 0px 0px rgba(223, 196, 10, 1);
        -webkit-justify-content: center;
        justify-content: center;
        cursor: pointer;
    }
    &__button:hover {
        background-color: #ffe534;
    }
    &__button:active {
        background-color: rgb(255, 229, 52);
        box-shadow: 0px -2px 0px 0px rgba(223, 196, 10, 1);
    }
    &__arrow-icon {
        background: url(components/app-map/images/spritesheet.png) no-repeat;
        display: block;
        @extend .transition;
    }
    &__iframe--map-open-state {
        width: 100% !important;
    }
    &__line{
        display: none;
        position: absolute;
        height: 100%;
        background-color: $button-color;
        
    }
    &__line--map-open-state{
        display: block;
    }
}

@media screen and (min-width: 320px) {
    .map {
        &__iframe {
            width: 100%;
        }
        &__button {
            width: 50px;
            height: 60px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            top: 120px;
            right: 12px;
        }
        &__button--menu-open-state {
            display: none;
        }
        &__arrow-icon--map-open-state {
            -ms-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        &__arrow-icon {
            background-position: -1px -0px;
            width: 15px;
            height: 23px;
        }
        &__line{
        right: 0;
        width: 13px; 
    }
    }
}

@media screen and (min-width: 768px) {
    .map {
        &__iframe {
            width: 45%;
        }
        &__button {
            width: 4%;
            height: 40px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            top: 100px;
            right: 41%;
        }
        &__button--map-open-state {
            right: 96% !important;
        }
        &__button--menu-open-state {
            display: -webkit-flex;
            display: flex;
            right: 14%;
        }
        &__arrow-icon {
            background-position: -1px -24px;
            width: 10px;
            height: 17px;
        }
          &__line{
        left: 0;
        width: 6px; 
    }
    }
}

@media screen and (min-width: 1024px) {
    .map {
        &__iframe {
            top: 120px;
            width: 55%;
        }
        &__button {
            right: 51%;
        }
        &__button--menu-open-state {
            right: 29%;
        }
    }
}

@media screen and (min-width: 1440px) {
    .map {
        &__iframe {
            width: 60%;
        }
        &__button {
            top: 140px;
            right: 57%;
            width: 3%;
        }
        &__button--map-open-state {
            right: 97% !important;
        }
        &__button--menu-open-state {
            right: 37.5%;
        }
    }
}

@media screen and (min-width: 2100px) {
    .map {
        &__button {
            top: 200px;
        }
    }
}