.day-info {
    &__overall-day-info,
    &__show-on-map-block {
        background-image: -moz-linear-gradient( 0deg, rgb(255, 255, 255) 0%, rgb(245, 244, 226) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(255, 255, 255) 0%, rgb(245, 244, 226) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(255, 255, 255) 0%, rgb(245, 244, 226) 100%);
        @extend .flex-align-items-center;
        -webkit-box-shadow: 0 9px 6px -6px #e4e3d2;
        -moz-box-shadow: 0 9px 6px -6px #e4e3d2;
        box-shadow: 0 9px 6px -6px #e4e3d2;
    }
    &__border-wrapper {
        position: relative;
        overflow: hidden;
        text-align: center;
        box-sizing: border-box;
        border-top: 3px dashed #eae8de;
        border-bottom: 3px dashed #eae8de;
        width: 100%;
    }
    &__arrow-icon-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 2px solid $button-color;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
    }
    &__day-number {
        font-size: 1.429em;
        font-weight: 600;
        color: $text-color;
    }
    &__day-information {
        display: none;
        //      -webkit-transition: .5s ease-in-out;
        //   -moz-transition: .5s ease-in-out;
        //   -o-transition: .5s ease-in-out;
        //   transition: .5s ease-in-out;
    }
    &__day-information--open-state {
        display: block;
    }
    &__map-image {
        border: 1px solid #e4e3d2;
        border-radius: 10px;
        box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.1);
    }
    &__day-schedule {
        overflow: hidden;
    }
    &__area {
        background-color: #fff;
        border-radius: 11px;
        box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.1);
    }
    &__area-img {
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    &__area-description {
        font-size: 1em;
        color: $text-color;
    }
    &__mark-icon,
    &__arrow-icon {
        background: url(components/day-info/images/spritesheet.png) no-repeat;
        display: inline-block;
        @extend .transition;
    }
    &__arrow-icon--clicked-state {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    &__mark-icon {
        background-position: -1px -18px;
        width: 10px;
        height: 15px;
    }
    &__show-on-map-block {
        height: 40px;
        margin-bottom: 15px;
    }
    &__border-block {
        @extend .flex-align-items-center;
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        border-top: 3px dashed #eae8de;
        border-bottom: 3px dashed #eae8de;
    }
    &__map-link {
        @extend .link;
    }
    &__mark-icon {
        margin: 0 5px 0 20px;
    }
    &__mark-text {
        font-size: 1em;
        font-weight: 600;
        color: #ec4b36;
    }
}

@media screen and (min-width: 320px) {
    .day-info {
        &__overall-day-info {
            height: 80px;
        }
        &__border-wrapper {
            height: 70px;
            line-height: 64px;
        }
        &__arrow-icon-wrapper {
            right: 20px;
            width: 42px;
            height: 42px;
            line-height: 36px;
        }
        &__day-number {
            font-size: 1.09em;
        }
        &__arrow-icon {
            background-position: -1px -0px;
            width: 15px;
            height: 9px;
        }
        &__day-information {
            margin: 30px 20px 35px;
        }
        &__map-image {
            width: 100%;
            height: auto;
        }
        &__time-road-big {
            float: left;
        }
        &__area {
            float: right;
            width: 80%;
            margin-top: 35px;
        }
        &__area-description {
            margin: 17px;
        }
        &__time-road-big {
            margin-top: 135px;
        }
        &__time-road {
            display: none;
        }
        &__map-area {
            display: none;
        }
        &__show-on-map-block {
            display: none;
        }
    }
}

@media screen and (min-width: 440px) {
    .day-info {
        &__time-road-big {
            margin-top: 255px;
        }
    }
}

@media screen and (min-width: 768px) {
    .day-info {
        &__overall-day-info {
            height: 60px;
        }
        &__border-wrapper {
            height: 50px;
            line-height: 44px;
        }
        &__arrow-icon-wrapper {
            right: 60px;
            width: 30px;
            height: 30px;
            line-height: 24px;
        }
        &__day-number {
            font-size: 1.429em;
        }
        &__area-description {
            margin: 20px;
        }
        &__arrow-icon {
            background-position: -1px -10px;
            width: 12px;
            height: 7px;
        }
        &__time-road-big {
            margin-top: 60px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .day-info {
        &__day-information {
            margin: 30px 5% 35px;
        }
        &__map-image {
            width: 40%;
            height: auto;
        }
        &__time-road-big {
            display: none;
        }
        &__area {
            width: 40%;
        }
        &__time-road {
            display: block;
            float: left;
            margin-left: 3%;
        }
        &__area1 {
            margin: 0;
        }
        &__area2 {
            float: left;
        }
        &__map-area {
            display: block;
            float: left;
        }
        &__top-map {
            display: none;
        }
        &__show-on-map-block {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
        }
    }
}

@media screen and (min-width: 1440px) {
    .day-info {
        &__time-road {
            margin-left: 5%;
        }
    }
}