.trip-description {
    overflow: hidden;
    &__expert-top-block {
        overflow: hidden;
    }
    &__heading3 {
        font-size: 1em;
        font-weight: 600;
        color: $text-color;
        margin: 0;
    }
    &__expert-name {
        color: $text-color;
    }
    &__expert-photo {
        float: left;
        background: url(components/trip-description/images/expert-photo.png) no-repeat;
        background-position: center top;
        border-radius: 5px;
        box-shadow: 0px 0px 3px 0px rgba(10, 10, 10, 0.25);
    }
    &__expert-info {
        float: left;
        margin-left: 15px;
    }
    &__stars-list {
        @extend .list;
    }
    &__star-element {
        display: block;
        float: left;
        margin: 0 2px;
    }
    &__star-element:first-child {
        margin: 0;
    }
    &__star-icon,
    &__star-icon-grey,
    &__arrow-blue-icon {
        display: block;
        background: url(components/trip-description/images/spritesheet.png) no-repeat;
    }
    &__expert-qualification-list {
        @extend .list;
        width: 100%;
    }
    &__qualification-element {
        @extend .flex-align-items-center;
        margin-bottom: 25px;
    }
    &__left-text,
    &__right-text {
        font-size: 0.7em;
        color: $text-color;
        width: 25%;
    }
    &__right-text {
        text-align: right;
    }
    &__qualification-level {
        @extend .flex-align-items-center;
        width: 50%;
        height: 10px;
        border: 1px solid #dfdcb0;
        border-radius: 15px;
    }
    &__qualification-line1,
    &__qualification-line2,
    &__qualification-line3 {
        height: 10px;
        border-radius: 15px;
        background-color: #b9e005;
        box-sizing: border-box;
        border: 1px solid #fff;
    }
    &__qualification-line1 {
        width: 80%;
    }
    &__qualification-line2 {
        width: 40%;
    }
    &__qualification-line3 {
        width: 60%;
    }
    &__arrow-blue-icon {
        margin: 0 auto;
        cursor: pointer;
    }
    &__hidden-text,
    &__arrow-blue-icon--open-state {
        display: none;
    }
    &__hidden-text--visible-state {
        display: block;
    }
}

@media screen and (min-width: 320px) {
    .trip-description {
        width: 90%;
        margin: 30px 5% 35px;
        &__expert-photo {
            width: 100px;
            height: 100px;
        }
        &__expert-name {
            font-size: 1.25em;
            margin: 5px 0;
        }
        &__expert-qualification-list {
            margin: 35px 0 0;
        }
        &__specification,
        &__overview {
            width: 100%;
        }
        &__star-icon {
            background-position: -1px -0px;
            width: 23px;
            height: 22px;
        }
        &__star-icon-grey {
            background-position: -1px -23px;
            width: 23px;
            height: 22px;
        }
        &__arrow-blue-icon {
            background-position: -1px -46px;
            width: 18px;
            height: 10px;
        }
    }
}

@media screen and (min-width: 768px) {
    .trip-description {
        width: 60%;
        margin: 40px auto;
        &__expert-name {
            font-size: 1em;
            margin: 10px 0;
        }
        &__expert-qualification-list {
            margin: 20px 0 0;
        }
        &__star-icon-grey {
            background-position: -1px -57px;
            width: 14px;
            height: 13px;
        }
        &__star-icon {
            background-position: -1px -71px;
            width: 14px;
            height: 13px;
        }
        &__arrow-blue-icon {
            background-position: -1px -85px;
            width: 12px;
            height: 7px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .trip-description {
        &__specification,
        &__overview {
            float: left;
        }
        &__specification {
            width: 40%;
        }
        &__overview {
            width: 55%;
            margin-left: 5%;
        }
        &__expert-photo {
            width: 80px;
            height: 80px;
        }
    }
}
