
.details-info {
    position: fixed;
    overflow: auto;
    background-color: $page-background-color;
    @extend .transition;
    &__list {
        @extend .list;
        padding: 0px 1px 4px;
    }
    &__taxi-icon,
    &__bicycle-icon,
    &__bus-icon {
        display: block;
        background: url(components/details-info/images/spritesheet.png) no-repeat;
    }
    &__icon-border {
        border: 2px solid $button-color;
        border-radius: 50px;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
    &__line {
        height: 15px;
        width: 1px;
        border-left: 2px solid $button-color;
    }
    &__top-line {
        margin-top: 2px;
    }
    &__card:last-child {
        padding-bottom: 90px;
    }
    &__map-open-state {
        left: -100% !important;
    }
}

@media screen and (min-width: 320px) {
    .details-info {
        left: 0;
        width: 100%;
        top: 80px;
        height: 100%;
        &__map-open-state {
            left: 100% !important;
        }
        &__menu--open-state {
            left: 80%;
        }
        &__list {
            margin: 45px 20px 0;
        }
        &__bus-icon {
            background-position: -3px -0px;
            width: 30px;
            height: 28px;
        }
        &__taxi-icon {
            background-position: -3px -62px;
            width: 30px;
            height: 28px;
        }
        &__icon-border {
            width: 64px;
            height: 64px;
        }
        &__line {
            margin-left: 34px;
        }
    }
}

@media screen and (min-width: 768px) {
    .details-info {
        width: 55%;
        top: 11%;
        height: 72.5%;
        &__map-open-state {
            left: -60% !important;
        }
        &__menu--open-state {
            left: 33%;
        }
        &__bus-icon {
            background-position: -3px -206px;
            width: 17px;
            height: 20px;
        }
        &__taxi-icon {
            background-position: -3px -152px;
            width: 20px;
            height: 18px;
        }
        &__icon-border {
            width: 42px;
            height: 42px;
        }
        &__line {
            margin-left: 23px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .details-info {
        width: 45%;
        height: 77.5%;
        top: 9%;
        &__map-open-state {
            left: -50% !important;
        }
    }
}

@media screen and (min-width: 1440px) {
    .details-info {
        width: 40%;
        &__map-open-state {
            left: -40% !important;
        }
    }
}