%section.details-info{"ng-class" => "{'details-info__menu--open-state': detailsInfoCtrl.isMenuOpen, 'details-info__map-open-state': detailsInfoCtrl.isMapOpen}"}
  %calendar-slider
  %ul.details-info__list
    %li.details-info__card
      %details-card
    %li.details-info__mark
      .details-info__top-line.details-info__line
      .details-info__icon-border
        %i.details-info__taxi-icon
      .details-info__line
    %li.details-info__card
      %details-card
    %li.details-info__mark
      .details-info__top-line.details-info__line
      .details-info__icon-border
        %i.details-info__bus-icon
      .details-info__line
    %li.details-info__card
      %details-card
