.details-card {
    &--content-open-state {
        display: none;
    }
    border: 1px solid #e4e3d2;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 auto;
    &__restaurant-icon,
    &__clock-icon,
    &__arrow-icon,
    &__cart-icon,
    {
        display: block;
        background: url(components/details-info/images/spritesheet.png) no-repeat;
    }
    &__header {
        overflow: hidden;
        cursor: pointer;
    }
    &__headings {
        float: left;
        overflow: hidden;
    }
    &__restaurant-icon {
        float: left;
    }
    &__clock-icon {
        display: inline-block;
        margin-right: 5px;
    }
    &__time {
        float: right;
        @extend .flex-align-items-center;
        color: #443b25;
    }
    &__place-img {
        width: 100%;
        height: auto;
    }
    &__description {
        color: #3d380a;
    }
    &__arrow-icon {
        margin: 0 auto 20px;
        cursor: pointer;
    }
}

@media screen and (min-width: 320px) {
    .details-card {
        width: 100%;
        &__header {
            padding: 15px;
        }
        &__heading2 {
            font-size: 1.357em;
            color: $main-color;
            margin: 0;
            font-weight: 600;
        }
        &__heading3 {
            font-size: 1em;
            color: #a1a094;
            margin: 3px 0 0;
            font-weight: 400;
        }
        &__restaurant-icon {
            margin: 7px 15px 0 0;
        }
        &__cart-icon {
            background-position: -3px -31px;
            width: 30px;
            height: 28px;
        }
        &__clock-icon {
            background-position: -3px -93px;
            width: 20px;
            height: 20px;
        }
        &__restaurant-icon {
            background-position: -3px -116px;
            width: 20px;
            height: 33px;
        }
        &__arrow-icon {
            background-position: -3px -192px;
            width: 17px;
            height: 11px;
        }
        &__description {
            margin: 15px;
        }
    }
}

@media screen and (min-width: 768px) {
    .details-card {
        &__header {
            padding: 21px 18px;
        }
        &__restaurant-icon {
            margin: 3px 13px 0 0;
        }
        &__cart-icon {
            background-position: -3px -173px;
            width: 18px;
            height: 16px;
        }
        &__arrow-icon {
            background-position: -3px -229px;
            width: 12px;
            height: 7px;
        }
        &__restaurant-icon {
            background-position: -18px -229px;
            width: 11px;
            height: 18px;
        }
        &__description {
            margin: 18px 18px 9px;
        }
    }
}