.details-card.details-card--open-card-state
  .details-card__header{"ng-click" => "detailsCardCtrl.toggleContent();"}
    %i.details-card__restaurant-icon
    .details-card__headings
      %h2.details-card__heading2 Trattoria Da Ropeton
      %h3.details-card__heading3 Via Fontana del Ferro, 1, Verona, Italy
    .details-card__time
      %i.details-card__clock-icon
      %span 10:00
  .details-card__content{"ng-class" => "{'details-card--content-open-state': detailsCardCtrl.isContentOpen}"}
    %img.details-card__place-img{:alt => "Trattoria Da Ropeton photo", :src => "./components/details-card/images/place_photo.png"}
    %p.details-card__description Amazing owner who sings and serves the food himself! Experience which you'll never forget and will include to the travel different mockups :)
    %i.details-card__arrow-icon{"ng-click" => "detailsCardCtrl.toggleContent();"}
