.trip-days {
    background-color: #f5f4e2;
    border: 1px solid #e4e3d2;
    padding: 20px 0 30px;
    &__days-list {
        @extend .list;
        overflow: visible;
    }
}

@media screen and (min-width: 320px) {
    .trip-days {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .trip-days {
        width: 60%;
        margin: 0 auto;
        border-radius: 10px;
    }
}