.page {
  margin: 0;
  background-color: $page-background-color;
  font: $page-font;
  height: 100%;
}

.page-wrapper {
  overflow: hidden;
  height: 100%;
}

.main {
  overflow: hidden;
  width: 100%;
}

.view {
  overflow: hidden;
  height: 100%;
}

.wrapper {
  position: relative;
  overflow: hidden;
  float: right;
  width: 100%;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.mask {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  z-index: 10;
}


.list {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.link {
  color: $main-color;
  text-decoration: none;
}

.transition {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.flex-align-items-center {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border: 2px solid #c7c7bf;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #959595;
}

::-webkit-scrollbar-thumb:active {
  background: #646460;
}

::-webkit-scrollbar-track {
  background: #c7c7bf;
  border: 0;
}

::-webkit-scrollbar-track:hover {
  background: #c7c7bf;
}

::-webkit-scrollbar-track:active {
  background: #c7c7bf;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@media screen and (min-width: 320px) {
  .page-wrapper {
    font-size: 1.714em;
  }
  .page {
    overflow: hidden;
    height: 100vh;
  }
  .overview-page {
    overflow: auto;
    height: 100%;
  }
  .wrapper {
    height: 100%;
  }
  .main {
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .page-wrapper {
    font-size: 1.286em;
  }
  .main {
    height: 72.5%;
  }
  .wrapper--open-state {
    width: 67%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .mask--menu-open-state {
  display: block;
}
}

@media screen and (min-width: 1024px) {
  .page-wrapper {
    font-size: 1em;
  }
  .main {
    height: 77.5%;
  }
}