.trip-features {
    position: relative;
    color: #fff;
    &__about-trip {
        overflow: hidden;
        position: absolute;
        bottom: 10px;
    }
    &__itinerary-list {
        @extend .list;
    }
    &__itinerary-element {
        display: inline-block;
        margin-right: 10px;
    }
    &__itinerary-element:last-child {
        margin-right: 0;
    }
    &__itinerary-text {
        margin: 0 15px 0 0;
    }
    &__heading3 {
        margin: 0;
        text-transform: uppercase;
        font-weight: 300;
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    }
    &__heading1 {
        margin: 17px 0;
        font-weight: 300;
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    }
    &__list {
        @extend .list;
        @extend .flex-align-items-center;
    }
    &__element {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        padding: 0 18px;
        border-right: 1px solid rgb(255, 255, 255);
        border-right: 1px solid rgba(255, 255, 255, .3);
    }
    &__text {
        font-size: 1.143em;
        font-weight: 300;
        margin-left: 7px;
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    }
    &__first-element {
        text-transform: uppercase;
        font-weight: 300;
        padding: 0;
    }
    &__first-element,
    &__last-element {
        border: none;
    }
    &__facebook-icon,
    &__twitter-icon,
    &__family-icon,
    &__shopping-icon,
    &__pet-icon,
    &__foodie-icon {
        background: url(components/trip-features/images/spritesheet.png) no-repeat;
        display: inline-block;
    }
}

@media screen and (min-width: 320px) {
    .trip-features {
        padding: 25px 5% 0;
        height: 620px;
        width: 90%;
        background: url(components/trip-features/images/trip-features-background.png) no-repeat;
        background-size: cover;
        &__itinerary {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            float: right;
        }
        &__about-trip {
            width: 100%;
        }
        &__heading3 {
            font-size: 1em;
        }
        &__heading1 {
            font-size: 2.5em;
        }
        &__text {
            display: none;
        }
        &__facebook-icon {
            background-position: -1px -0px;
            width: 52px;
            height: 53px;
        }
        &__twitter-icon {
            background-position: -1px -54px;
            width: 52px;
            height: 52px;
        }
        &__family-icon {
            background-position: -1px -107px;
            width: 34px;
            height: 30px;
        }
        &__shopping-icon {
            background-position: -1px -138px;
            width: 33px;
            height: 30px;
        }
        &__pet-icon {
            background-position: -1px -169px;
            width: 30px;
            height: 30px;
        }
        &__foodie-icon {
            background-position: -32px -169px;
            width: 20px;
            height: 30px;
        }
    }
}

@media screen and (min-width: 768px) {
    .trip-features {
        height: 420px;
        background: url(components/trip-features/images/trip-features-background-big.png) no-repeat;
        background-size: cover;
        &__itinerary {
            display: none;
        }
        &__about-trip {
            width: 80%;
        }
        &__heading3 {
            font-size: 1.143em;
        }
        &__heading1 {
            font-size: 3.571em;
        }
        &__text {
            display: inline;
        }
        &__family-icon {
            background-position: -1px -200px;
            width: 23px;
            height: 20px;
        }
        &__shopping-icon {
            background-position: -25px -200px;
            width: 22px;
            height: 20px;
        }
        &__pet-icon {
            background-position: -1px -221px;
            width: 20px;
            height: 20px;
        }
        &__foodie-icon {
            background-position: -36px -107px;
            width: 13px;
            height: 20px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .trip-features {
        padding: 0 20%;
        width: 60%;
    }
}