.footer {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: $main-color;
    overflow: hidden;
    @extend .flex-align-items-center;
    
    &__nav-list {
        @extend .list;
    }
    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    &__social-info {
        position: absolute;
        text-align: right;
    }
    &__social-media-list {
        @extend .list;
    }
    &__social-media {
        display: inline-block;
    }
    &__copyright {
        line-height: 1.429;
        color: #796b46;
        margin: 15px 0 0;
    }
    &__link {
        @extend .link;
        line-height: 1.429;
        color: #fff;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    &__link:hover {
        color: $button-color;
    }
    &__footer-logo-icon,
    &__facebook-footer-icon,
    &__twitter-footer-icon {
        background: url(components/app-footer/images/spritesheet.png) no-repeat;
        display: inline-block;
    }
    &__footer-logo-icon:hover {
        background-position: -1px -0px;
        width: 57px;
        height: 27px;
    }
    &__footer-logo-icon {
        background-position: -1px -28px;
        width: 57px;
        height: 27px;
    }
    &__facebook-footer-icon:hover {
        background-position: -1px -56px;
        width: 26px;
        height: 27px;
    }
    &__facebook-footer-icon {
        background-position: -28px -56px;
        width: 26px;
        height: 27px;
    }
    &__twitter-footer-icon:hover {
        background-position: -1px -84px;
        width: 26px;
        height: 27px;
    }
    &__twitter-footer-icon {
        background-position: -28px -84px;
        width: 26px;
        height: 27px;
    }
}

@media screen and (min-width: 320px) {
    .footer {
        height: 100px;
        padding: 0 20px;
        &__social-info {
            right: 20px;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        height: 16.5%;
        &__overview-page {
            height: 100px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        height: 13.5%;
        padding: 0 5%;
        &__overview-page {
            height: 100px;
        }
        &__social-info {
            right: 5%;
        }
        &__nav-element {
            margin: 0 10px;
            display: inline-block;
        }
    }
}