.calendar-slider {
    margin: 40px auto 0;
    @extend .flex-align-items-center;
    &__date-list {
        @extend .list;
        width: 90%;
        margin: auto;
        border-radius: 5px;
        border: 2px solid $button-color;
        background-color: #fff;
    }
    &__date-element {
        display: block;
        float: left;
        text-align: center;
        width: 33.3%;
        border-left: 2px solid $button-color;
        box-sizing: border-box;
        cursor: pointer;
    }
    &__date-element--active-state {
        background-color: $button-color;
    }
    &__date-element:first-child {
        border-left: none;
    }
    &__text {
        font-size: 1em;
        color: $main-color;
    }
    &__left-arrow-icon,
    &__right-arrow-icon {
        background: url(components/calendar-slider/images/spritesheet.png) no-repeat;
        cursor: pointer;
    }
}

@media screen and (min-width: 320px) {
    .calendar-slider {
        width: 70%;
        &__date-element {
            height: 50px;
            line-height: 50px;
        }
        &__right-arrow-icon {
            background-position: -1px -0px;
            width: 11px;
            height: 17px;
        }
        &__left-arrow-icon {
            background-position: -1px -18px;
            width: 10px;
            height: 17px;
        }
    }
}

@media screen and (min-width: 768px) {
    .calendar-slider {
        width: 70%;
        &__date-element {
            height: 30px;
            line-height: 30px;
        }
        &__left-arrow-icon {
            background-position: -1px -36px;
            width: 8px;
            height: 12px;
        }
        &__right-arrow-icon {
            background-position: -1px -49px;
            width: 7px;
            height: 12px;
        }
    }
}