.calendar-slider
  %i.calendar-slider__left-arrow-icon
  %ul.calendar-slider__date-list
    %li.calendar-slider__date-element.calendar-slider__date-element--active-state
      %span.calendar-slider__text Jun 24
    %li.calendar-slider__date-element
      %span.calendar-slider__text Jun 25
    %li.calendar-slider__date-element
      %span.calendar-slider__text Jun 26
  %i.calendar-slider__right-arrow-icon
