.menu {
    position: fixed;
    height: 100%;
    z-index: 2;
    top: 0;
    overflow: auto;
    @extend .transition;
    background: #4e4232;
    background: -moz-linear-gradient(top, #4e4232 8%, #5f5239 25%, #7a6b45 52%, #705f41 99%);
    background: -webkit-gradient(left top, left bottom, color-stop(8%, #4e4232), color-stop(25%, #5f5239), color-stop(52%, #7a6b45), color-stop(99%, #705f41));
    background: -webkit-linear-gradient(top, #4e4232 8%, #5f5239 25%, #7a6b45 52%, #705f41 99%);
    background: -o-linear-gradient(top, #4e4232 8%, #5f5239 25%, #7a6b45 52%, #705f41 99%);
    background: -ms-linear-gradient(top, #4e4232 8%, #5f5239 25%, #7a6b45 52%, #705f41 99%);
    background: linear-gradient(to bottom, #4e4232 8%, #5f5239 25%, #7a6b45 52%, #705f41 99%);
    &__list-log-out,
    &__list-log-in,
    &__user-info-list {
        @extend .list;
    }
    &__element,
    &__user-info {
        overflow: hidden;
        border-bottom: 1px solid $main-color;
    }
    &__user-info {
        height: auto;
    }
    &__user-photo {
        background-position: center !important;
        border-radius: 50px;
    }
    &__link,
    &__user-info-link {
        @extend .link;
        @extend .flex-align-items-center;
        width: 100%;
        height: 100%;
        font-weight: 300;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    &__link {
        font-size: 1.286em;
        color: rgba(255, 255, 255, 0.702);
    }
    &__link:hover {
        background-color: #4b412e;
    }
    &__user-info-link {
        font-size: 1em;
        color: #a39b8b;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    &__user-info-link:hover {
        color: #cac3b5;
    }
    &__user-photo-element {
        @extend .flex-align-items-center;
    }
    &__plane-icon,
    &__medal-icon,
    &__itineraries-icon,
    &__contests-icon,
    &__settings-icon,
    &__payments-icon,
    &__log-out-icon,
    &__messages-icon {
        display: inline-block;
        background: url(components/app-menu/images/spritesheet.png) no-repeat;
    }
    &__messages-quantity {
        margin-left: auto;
        font-size: 0.714em;
        color: $main-color;
        font-weight: 600;
        background-color: $button-color;
        text-align: center;
        border-radius: 30px;
    }
    &__users-messages {
        overflow: auto;
        height: 340px;
        background-color: #5b5038;
    }
    &__messages-list {
        @extend .list;
        margin-bottom: 18px;
        border-bottom: 1px solid #5f553d;
    }
    &__message-title {
        color: #3a321e;
        margin-bottom: 15px;
    }
    &__message-element {
        margin-bottom: 18px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
    }
    &__message-number {
        @extend .link;
        margin-left: auto;
        color: $button-color;
    }
    &__message-text {
        @extend .link;
        color: #a1a094;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    &__message-text:hover {
        color: $button-color;
    }
}

.menu::-webkit-scrollbar-thumb {
    background: #6c6044;
    border: 2px solid #4b432f;
    border-radius: 6px;
}

.menu::-webkit-scrollbar-thumb:hover {
    background: #91815a;
}

.menu::-webkit-scrollbar-thumb:active {
    background: #a69469;
}

.menu::-webkit-scrollbar-track {
    background: #4b432f;
    border: 0;
}

.menu::-webkit-scrollbar-track:hover {
    background: #4b432f;
}

.menu::-webkit-scrollbar-track:active {
    background: #4b432f;
}

.menu__users-messages::-webkit-scrollbar-thumb {
    background: #6c6044;
    border: 2px solid #4b432f;
    border-radius: 6px;
}

.menu__users-messages::-webkit-scrollbar-thumb:hover {
    background: #91815a;
}

.menu__users-messages::-webkit-scrollbar-thumb:active {
    background: #a69469;
}

.menu__users-messages::-webkit-scrollbar-track {
    background: #4b432f;
    border: 0;
}

.menu__users-messages::-webkit-scrollbar-track:hover {
    background: #4b432f;
}

.menu__users-messages::-webkit-scrollbar-track:active {
    background: #4b432f;
}

@media screen and (min-width: 320px) {
    .menu {
        width: 80%;
        left: -80%;
        &__menu--open-state {
            left: 0;
        }
        &__logo {
            width: 245px;
            height: auto;
        }
        &__element {
            height: 85px;
            line-height: 85px;
        }
        &__user-info-element {
            height: 74px;
            line-height: 74px;
        }
        &__user-photo-element {
            height: 85px;
            line-height: 85px;
        }
        &__user-photo {
            background: url(components/app-menu/images/user_photo_big.png) no-repeat;
            width: 65px;
            height: 65px;
            margin: 0 50px 0 25px;
        }
        &__user-name {
            font-size: 1.143em;
            color: rgba(255, 255, 255, 0.702);
        }
        &__plane-icon,
        &__medal-icon,
        &__messages-icon,
        &__logo {
            margin: 0 50px;
        }
        &__itineraries-icon,
        &__contests-icon,
        &__settings-icon,
        &__payments-icon,
        &__log-out-icon {
            margin: 0 60px;
        }
        &__messages-icon {
            background-position: -1px -0px;
            width: 42px;
            height: 33px;
        }
        &__plane-icon {
            background-position: -1px -34px;
            width: 42px;
            height: 42px;
        }
        &__medal-icon {
            background-position: -1px -77px;
            width: 38px;
            height: 42px;
        }
        &__settings-icon {
            background-position: -1px -195px;
            width: 21px;
            height: 21px;
        }
        &__contests-icon {
            background-position: -1px -217px;
            width: 20px;
            height: 20px;
        }
        &__itineraries-icon {
            background-position: -22px -217px;
            width: 20px;
            height: 19px;
        }
        &__log-out-icon {
            background-position: -22px -237px;
            width: 20px;
            height: 20px;
        }
        &__payments-icon {
            background-position: -1px -238px;
            width: 20px;
            height: 20px;
        }
        &__messages-quantity {
            margin-right: 55px;
            width: 40px;
            height: 25px;
            line-height: 25px;
        }
        &__users-messages {
            padding: 25px 30px 30px 50px;
        }
    }
}

@media screen and (min-width: 768px) {
    .menu {
        width: 33%;
        left: -33%;
        &__menu--open-state {
            left: 0;
        }
        &__logo {
            width: 165px;
            height: auto;
        }
        &__element {
            height: 60px;
            line-height: 60px;
        }
        &__user-info-element {
            height: 43px;
            line-height: 43px;
        }
        &__user-photo-element {
            height: 60px;
            line-height: 60px;
        }
        &__user-photo {
            background: url(components/app-menu/images/user_photo.png) no-repeat;
            width: 45px;
            height: 45px;
            margin: 0 18px 0 25px;
        }
        &__plane-icon,
        &__medal-icon,
        &__messages-icon,
        &__logo {
            margin: 0 30px;
        }
        &__itineraries-icon,
        &__contests-icon,
        &__settings-icon,
        &__payments-icon,
        &__log-out-icon {
            margin: 0 38px;
        }
        &__messages-icon {
            background-position: -1px -120px;
            width: 26px;
            height: 20px;
        }
        &__plane-icon {
            background-position: -1px -141px;
            width: 26px;
            height: 26px;
        }
        &__medal-icon {
            background-position: -1px -168px;
            width: 24px;
            height: 26px;
        }
        &__settings-icon {
            background-position: -28px -120px;
            width: 13px;
            height: 12px;
        }
        &__contests-icon {
            background-position: -28px -133px;
            width: 12px;
            height: 12px;
        }
        &__itineraries-icon {
            background-position: -28px -146px;
            width: 12px;
            height: 11px;
        }
        &__log-out-icon {
            background-position: -28px -158px;
            width: 12px;
            height: 12px;
        }
        &__payments-icon {
            background-position: -26px -171px;
            width: 12px;
            height: 12px;
        }
        &__messages-quantity {
            margin-right: 20px;
            width: 23px;
            height: 16px;
            line-height: 16px;
        }
        &__users-messages {
            padding: 20px 25px 20px 35px;
        }
    }
}