.header {
    width: 100%;
    overflow: hidden;
    background-color: $header-color;
    &__menu-button-wrapper {
        position: relative;
        z-index: 100;
        float: left;
        height: 100%;
        border-right: 1px solid #bba87b;
        box-sizing: border-box;
        
    }
    &__menu-button {
        position: relative;
        @extend .transition;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        cursor: pointer;
    }
    &__stick {
        display: block;
        position: absolute;
        width: 100%;
        background: $main-color;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        @extend .transition;
    }
    &__menu-button--open-state &__stick {
        background-color: #fff;
    }
    &__menu-button--open-state &__stick1 {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    &__menu-button--open-state &__stick2 {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &__menu-button--open-state &__stick3 {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    &__menu-button--open-state &__stick4 {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    &__menu-button--open-state &__menu-button-wrapper {
        background-color: #942033 !important;
    }
    &__menu-button-wrapper,
    &__link,
    &__itinerary {
       @extend .flex-align-items-center;
    }
    &__nav {
        height: 100%;
        overflow: hidden;
    }
    &__list {
        @extend .list;
        height: 100%;
    }
    &__nav-element {
        float: left;
        height: 100%;
        border-right: 1px solid #bba87b;
        box-sizing: border-box;
    }
    &__nav-element:hover {
        background-color: #d2c29b;
    }
    &__details-icon,
    &__binoculars-icon,
    &__twitter-icon,
    &__facebook-icon {
        background: url(components/app-header/images/spritesheet.png) no-repeat;
        display: inline-block;
    }
    &__link {
        @extend .link;
        width: 100%;
        height: 100%;
        font-weight: 700;
        -webkit-justify-content: center;
        justify-content: center;
    }
    &__itinerary {
        float: right;
        height: 100%;
    }
    &__itinerary-list {
        @extend .list;
        display: block;
        margin: 0 20px;
    }
    &__itinerary-element {
        display: inline-block;
        margin-right: 10px;
    }
    &__itinerary-element:last-child {
        margin: 0;
    }
}

@media screen and (min-width: 320px) {
    .header {
        height: 80px;
        &__menu-button-wrapper {
            width: 90px;
        }
        &__menu-button {
            width: 50px;
            height: 35px;
            margin: 0 auto;
        }
        &__menu-button--open-state {
            margin-left: 80%;
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
        }
        &__stick {
            height: 6px;
        }
        &__stick1 {
            top: 0px;
        }
        &__stick2,
        &__stick3 {
            top: 14px;
        }
        &__stick4 {
            top: 28px;
        }
        &__nav-element {
            width: 50%;
        }
        &__itinerary {
            display: none;
        }
        &__binoculars-icon {
            background-position: -1px -72px;
            width: 25px;
            height: 18px;
            margin-right: 7px
        }
        &__details-icon {
            background-position: -1px -91px;
            width: 25px;
            height: 20px;
            margin-right: 7px
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__overview-page {
            height: 60px;
        }
        height: 11%;
        &__menu-button-wrapper {
            width: 70px;
        }
        &__menu-button {
            width: 30px;
            height: 20px;
            margin: 0 auto;
        }
        &__menu-button--open-state {
            margin: 0;
        }
        &__stick {
            height: 3px;
        }
        &__stick1 {
            top: 0px;
        }
        &__stick2,
        &__stick3 {
            top: 8px;
        }
        &__stick4 {
            top: 16px;
        }
        &__facebook-icon {
            background-position: -1px -0px;
            width: 35px;
            height: 35px;
            border-radius: 8px;
        }
        &__twitter-icon {
            background-position: -1px -36px;
            width: 35px;
            height: 35px;
            border-radius: 8px;
        }
        &__binoculars-icon {
            background-position: -1px -112px;
            width: 20px;
            height: 14px;
        }
        &__details-icon {
            background-position: -1px -127px;
            width: 20px;
            height: 16px;
        }
        &__facebook-icon:hover {
            background-color: #f2e5c4;
        }
        &__twitter-icon:hover {
            background-color: #f2e5c4;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        &__overview-page {
            height: 60px;
        }
        height: 9%;
        &__nav {
            float: left;
        }
        &__nav-element {
            width: 145px;
        }
        &__itinerary {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
        }
    }
}

@media screen and (min-width: 1440px) {
    .header {
        &__overview-page {
            height: 80px;
        }
    }
}